<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_JAEERegistrarAlbaranService" />
                <binding name="NetTcpBinding_JAEELedgerJournalService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/JAEEServiciosPersonalizados"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_JAEERegistrarAlbaranService"
                contract="JAEEServiciosPersonalizados.JAEERegistrarAlbaranService"
                name="NetTcpBinding_JAEERegistrarAlbaranService">
                <identity>
                    <userPrincipalName value="administrator@contoso.com" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://ax2012r2a:8201/DynamicsAx/Services/JAEEServicios"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_JAEELedgerJournalService"
                contract="JAEEServiciosDocumento.JAEELedgerJournalService"
                name="NetTcpBinding_JAEELedgerJournalService">
                <identity>
                    <userPrincipalName value="administrator@contoso.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>