<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GlobalWeatherSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap1"
                contract="WSRef.GlobalWeatherSoap" name="GlobalWeatherSoap1" />
            <endpoint address="http://www.webservicex.net/globalweather.asmx"
                binding="customBinding" bindingConfiguration="GlobalWeatherSoap121"
                contract="WSRef.GlobalWeatherSoap" name="GlobalWeatherSoap121" />
        </client>
    </system.serviceModel>
</configuration>
